* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body {
    background-color: #f6f6f6;
}

form {
    padding-top: 20px;
}

form label {
    font-size: 20px; 
    margin-left: 20px;  
}

form label:first-child {
    margin-left: 0px;
}

a {
    text-decoration: none;
}

input {
    margin-left: 10px;
    padding: 8px 15px;
    border: none;
    border-bottom: 1px solid rgb(159, 171, 73);
}

input:focus {
    outline: none;
}

button {
    font-size: 16px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

button:hover {
    background-color: rgb(170, 248, 170);
}

.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    /* background-color: rgb(178, 202, 191); */
}

img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.enter-shop {
    margin-left: 20px;
}

.reg {
    margin-left: 20px;
    color:rgba(0, 0, 0, 0.524)
}

.pics {
    width: 200px;
    height: 200px;
}

.products-out {
    display: flex;
    /* justify-content: space-around; */
}

.product-out {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.306);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(174, 171, 171); ;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-right: 40px;
    font-size: 20px;
}

.product-out p {
    margin-top: 20px;
}

.product-out button {
    margin-top: 10px;
}

.basket {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(235, 213, 161);
    padding: 20px;
   
}

.basket__main {
    font-size: 26px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* margin-top: 50px; */
    /* max-width: 700px; */
    border-radius: 10px;
}

.basket__product {
    display: flex;
    align-items: center;
    margin: 20px;
}

.basket__count-product {
    margin-left: 20px;
    margin-top: 30px;
}

.basket__title {
    text-align: center;
    margin-top:20px;
    font-size: 26px;
}

.basket__content {
    display: flex;
    align-items: center;
}

.basket__img {
    display: inline;
    width: 80px;
    height: 80px;
    margin-top: 40px;
}

.basket__name {
    margin-left: 20px;
    margin-top: 30px;
    width: 60px;
}

.basket__description {
    margin-left: 50px;
    margin-top: 30px;
    width: 100px;
}

.basket__price {
    margin-left: 120px;
    margin-top: 30px;
    width: 100px;
}

.basket__delete {
    margin-top: 30px;
    margin-left: 40px;
}

.basket__delete:hover {
    background-color: rgb(229, 122, 122);
}

.basket__result {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
}

.basket__result-price {
    margin-top: 10px;
}

.basket__minus {
    margin-left: 50px;
    margin-top: 30px;
}

.basket__plus {
    margin-left: 20px;
    margin-top: 30px;
}

.mini-basket {
  margin-left: 50px;
  margin-top: 50px;
}




@font-face {
    font-family: "Roboto";  
    src: url("../fonts/Roboto.woff2") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 